<!DOCTYPE html>
<html>
<head>
    <title>SOLARBOIL</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<style>
    table ,td, tr {
                            width: 30%;
    }
</style>
<body style="margin:0">

<table style="float:left; width:100%; max-width: 400px;">
    <tr style="text-align:center">
        <td colspan="2">
            <h1 style="text-align: center; color:Tomato">
                SolarBoil
            </h1>
        </td>
    <tr>
    <tr style="text-align:center; height:50px;">
        <td colspan="2">
            <h4 style="text-align: center; color:Green">
                Current Battery Charge: {{charge}}
            </h4>
        </td>
    <tr>
    <tr style="text-align:center; height:50px;">
        <td colspan="2">
            <h4 style="text-align: center; color:Blue">
                Current Time: {{timenow}}
            </h4>
        </td>
    <tr>
    <tr style="text-align:center; height:50px;">
        <td colspan="2">
            <h4 style="text-align: center; color:Tomato">
                Boiler Signal Status: {{boilerstatus}}
            </h4>
        </td>
    <tr>
    <tr>
        <td style="text-align: center; height:100px;">
            <form action="/1" method="POST">
                <button class="rel" id="1">Boiler AN</button>
                </br>
            </form>
        </td>
        <td style="text-align: center">
            <form action="/5" method="POST">
                <button class="rel" id="5">Boiler AUS</button>
                </br>
            </form>
        </td>
    </tr>
</table>

</body>
</html>